# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# SSH Server Configuration

# Included paths and files
Include /etc/ssh/sshd_config.d/*.conf

# Protocol and port
Protocol 2
#Port 22

# Address
AddressFamily inet
#ListenAddress 0.0.0.0
#ListenAddress ::

# Host keys
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# Key exchange algorithms, ciphers, and MACs
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Logging
#SyslogFacility AUTH
LogLevel VERBOSE

# Authentication and authorization
#LoginGraceTime 2m
PermitRootLogin no
#StrictModes yes
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes

# Session and tunnel options
ClientAliveInterval 180
ClientAliveCountMax 3

# Additional security options
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no

# Messages and banners
PrintMotd no
#Banner none

# Environment variables
AcceptEnv LANG LC_*

# SFTP subsystem
Subsystem sftp /usr/lib/openssh/sftp-server